:root {
    --main-bg: #dababa;
    --secondary-bg: #b18d8d;
    --tertiary-bg: #796969;
    --main-color: #700000;
    --grid-size: 800px;
    --btn-switch-height: 25px;
    --padding-size: 75px;
    --yes-color:rgb(44, 119, 37);
    --no-color:rgb(201, 15, 15);
}

header{
    background-color: var(--main-color);
    color: var(--main-bg);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

footer{
    background-color: var(--main-color);
    color: var(--main-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    background-color: var(--main-bg);
    counter-reset: var(--main-color);
}

h1{
    font-size: 2em;
    text-align: center;
    color: var(--main-bg);
}

main{
    height: calc(var(--grid-size) + var(--btn-switch-height));
    width: calc(var(--grid-size) + var(--grid-size) * 1 / 5);
    margin: auto;
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
    display: flex;
    flex-direction: column;
}

#btn-switches{
    height: var(--btn-switch-height);
    width: 100%;
    background-color: black;
}

#ttt-game{
    height: var(--grid-size);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template: 
    "message message message buttons buttons"
    "board board board player-info player-info"
    "board board board player-info player-info"
    "board board board player-info player-info";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#board {
    height: 100%;
    width: 100%;
    grid-area: board;
    display: grid;
    background-color: var(--main-color);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 20px;
}

#board:hover {
    cursor: default;
}

#message {
    grid-area: message;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#btns {
    grid-area: buttons;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-info {
    grid-area: player-info;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    background-color: var(--main-bg);
    font-size: 5em;
    padding: 0;
    margin: 0;
}

.cell:hover{
    cursor: pointer;
}
.temp-input {
    color: var(--secondary-bg);
}
